# Python
__pycache__/
*.pyc

# Virtual environments
env/
venv/
.venv/
backend/env/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

dotenv